@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
}

body {
    margin: 0;
}

:root {
    --primary-color: #F5F5F5;
    --secondary-color: #212121;
    --accent-1: #EF3E36;
    --accent-2: #17BEBB;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    color: var(--secondary-color);
}

p {
    font-family: 'Oxygen', sans-serif;
    color: var(--secondary-color);
    line-height: 1.5em;
}

/* NEW NAVIGATION 2024 */
.navigation {
    background: var(--accent-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 80px;
  }

  .website-logo {
    height: 100%;
    width: 230px;
  }
  
  .nav-logo {
    color: var(--primary-color);
  }
  ul {
    margin:0;
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 65;
  }
  li a {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    color: var(--secondary-color);
    text-decoration: none;
    color: white;
    padding: 15px;
  }
  li a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}


/*Hero*/
.hero {
    height: 645px;
    background-image: url(images/hero-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    display: flex;
    display: relative;
}
.title1 {
    background-color: rgba(245, 245, 245, .7);
    width: 448px;
    height: 100px;
    position: absolute;
    top: 120px;
}
.title1 h1 {
    font-size: 64px;
    padding-left: 80px;
    color: var(--secondary-color);
}
.title2 {
    background-color: rgba(245, 245, 245, .7);
    width: 748px;;
    position: absolute;
    top: 372px;
    right:0; 
}
.title2 h1 {
    font-size: 118px;
    margin: 0;
    padding-left: 57px;
    padding-bottom: 15px;
    color: var(--secondary-color);
}

/*Navigation and Hamburger Menu*/
/* .hamburger-menu {
    background-color: rgba(0, 0, 0, 0.75);
    width: 80px;
    height: 80px;
    position: fixed;
    right: 60px;
    top: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

}
.hamburger {
  position: fixed;
  display: block;
  width: 50px;
  cursor: pointer; 
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  margin: 10px 0px;
  transition: 0.4s;
}

.logo {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav {
  position:fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: var(--accent-2);
  padding-top: 120px;
  transition: 0.4s;
}
.nav.is-active {
  left: 0;
}
.nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    padding: 15px 16px;
    color: var(--primary-color);
    text-decoration: none;
  }
.nav a:hover {
  color: var(--secondary-color);
  cursor: pointer;
} */
/*Top Bar*/
/* .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-10px, 10px);
} */
/*Bottom Bar*/
/* .hamburger.is-active:after {
  transform: rotate(45deg) translate(-11px, -10px);
}
.hamburger.is-active .bar {
  opacity: 0;
} */

/*About*/
.about {
    height: 895px;
    background-color: var(--primary-color);
    margin-bottom: 0;
}

.about-cards {
    width: 1325px;
    display: flex;
    margin: 0 auto;
}

.about-cards img{
    position: absolute;
    margin-top: -50px;
}

.about-desc {
    background-color: var(--accent-1);
    color: var(--primary-color);
    position: absolute;
    margin-top: 265px;
    margin-left: 690px;   
    padding: 3em; 
    width: 500px;
}

.about-desc h2 {  
    color: var(--primary-color);
    margin-bottom: 1em;
}
.about-desc p {
    color: var(--primary-color);
}


/*Types section*/
.types-skateboarding {
    position: absolute;
    top: -142px;
    left: 80px;
    font-size: 118px;
    color: var(--secondary-color);
}

.type-freestyle {
    margin-top: 0;
    background-image: url(images/freestyle-skating.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-freestyle h2 {
    font-size: 110px;
    margin-left: 80px;
}

.type-street {
    margin-top: 0;
    background-image: url(images/street-sk8ting.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.type-street h2 {
    font-size: 110px;
    margin-left: 80px;
}

.type-vert {
    margin-top: 0;
    background-image: url(images/vert-skatingx.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-vert h2 {
    font-size: 110px;
    margin-left: 80px;
}

.type-park {
    margin-top: 0;
    background-image: url(images/park-skatingxx.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-park h2 {
    font-size: 110px;
    margin-left: 80px;
}

.type-cruise {
    margin-top: 0;
    background-image: url(images/cruise-skatingxx.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-cruise h2 {
    font-size: 110px;
    margin-left: 80px;
}

.type-downhill {
    margin-top: 0;
    background-image: url(images/downhillx.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-downhill h2 {
    font-size: 110px;
    margin-left: 80px;
}

.types-title1 {
    position: absolute;
    bottom: -57px;
    left: 70px;
    color: var(--primary-color);
    z-index: 1;
}


/*Description types*/
.types-desc {
    background-color: var(--secondary-color);
    position: relative;
}

.types-desc p {
    color: var(--primary-color);
    width: 640px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 102px;
}

.types-title2 {
    position: absolute;
    bottom: -57px;
    right: 185px;
    color: var(--secondary-color);
    z-index: 1;
}
.types-desc2 {
    background-color: var(--primary-color);
    position: relative;
}
.types-desc2 p {
    color: var(--secondary-color);
    width: 640px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 102px;
}
.profile-button {
    background-color: var(--accent-1);
    padding: 8px 25px;
    margin-top: 30px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.profile-button a {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    color: var(--primary-color);
}
.profile-button:hover {
    background: #F6615A;
    border-radius: 1px;
}


/*Key Figures Sect.*/
.key-figures {
    background-color: var(--accent-1);
    height: 760px;
    position: relative;
}
.figures-heading {
    position: absolute;
   /* z-index: 1000;*/
    top: -71px;
    right: 80px;
    font-size: 118px;
    color: var(--primary-color);
}
.main-carousel {
   position: absolute;
   top: 120px;
}
.profile-card {
    display: flex;
    background-color: var(--accent-2);
    width: 697px;
    border-radius: 26px;
    margin: 0 15px;
}
.profile-card img {
    border-radius: 26px 0 0 26px;
}
.profile-text {
    width: 365px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 52px;
}
.profile-text h3 {
    color: var(--primary-color);
    margin-bottom: 1em;
}
.profile-text p {
    color: var(--primary-color);
    font-size: 15px;
}    

/*Popular Companies*/
.companies {
    background-color: var(--primary-color);
    position: relative;
}
.companies-heading {
    position: absolute;
   /* z-index: 1000;*/
    top: -143px;
    left: 80px;
    font-size: 118px;
    color: var(--secondary-color);
}

.comapany-logos {
    margin: 0 auto;
    padding: 78px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 65px;
    /* position: absolute;
    top: 78px; */
}

.overlay-container {
    position: relative;
    overflow: hidden;
    height: 215px;
}

.company-name {
    color: var(--primary-color);
    position: absolute;
    top: 40%;
    font-size: 30px;
    transition: translate (-50%, -50%);
    cursor: pointer;
  
}

.company-name a {
    /*text-decoration: none;*/
    color: var(--primary-color);
    font-family: Oswald, sans-serif;
}

.company-name a:hover {
    text-decoration: none; 
}

.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background: rgba(33,33,33,.7);
}

.overlay-container:hover .overlay {
    opacity: 1;
}

.overlay-fade {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer*/
footer {
    background-color: var(--secondary-color);
}
.footer-nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.footer-nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 50px 15px;
}
.footer-nav a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    font-size: 20px;
}
.footer-nav a:hover {
    color: var(--accent-2);
}
.socials {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.socials i {
    padding: 0 25px;
}
.socials i {
    font-size: 2.3em;
    color: var(--primary-color);
}
.socials i:hover {
    color: var(--accent-2);
}

.footer-logo {
    height: 100%;
    width: 170px;
    margin: 0 auto;
    padding-top: 1em
}

.copyright {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: .7em 0 1em 0;
}
.copyright p {
    color: var(--primary-color);
}