@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen&display=swap');

.container {
    width: 100%;
}

body {
    margin: 0;
}

:root {
    --primary-color: #F5F5F5;
    --secondary-color: #212121;
    --accent-1: #EF3E36;
    --accent-2: #17BEBB;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    color: var(--secondary-color);
}

p {
    font-family: 'Oxygen', sans-serif;
    color: var(--secondary-color);
}


/*Hero*/
.hero {
    height: 645px;
    background-image: url(images/hero-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    display: flex;
}

.hamburger-menu {
    background-color: rgba(0, 0, 0, 0.75);
    width: 75px;
    height: 75px;
    position: fixed;
    right: 60px;
    top: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-menu img {
    width: 40px;
    
}

/*About*/
.about {
    height: 895px;
    background-color: var(--primary-color);
}

.about-cards {
    width: 1325px;
    display: flex;
    margin: 0 auto;
}

.about-cards img{
    position: absolute;
    margin-top: -62px;
}

.about-desc {
    background-color: var(--accent-1);
    color: var(--primary-color);
    width: 635px;
    height: 465px;
    position: absolute;
    margin-top: 265px;
    margin-left: 690px;    
}

.about-desc h2 {
    margin-top: 62px;
    margin-left: 95px;
    color: var(--primary-color);
}
.about-desc p {
    margin-left: 95px;
    width: 422px;
    color: var(--primary-color);
}