@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
}

body {
    margin: 0;
}

:root {
    --primary-color: #F5F5F5;
    --secondary-color: #212121;
    --accent-1: #EF3E36;
    --accent-2: #17BEBB;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    color: var(--secondary-color);
}

p {
    font-family: 'Oxygen', sans-serif;
    color: var(--secondary-color);
}


/*Hero*/
.hero {
    height: 645px;
    background-image: url(images/hero-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    display: flex;
}

.hamburger-menu {
    background-color: rgba(0, 0, 0, 0.75);
    width: 75px;
    height: 75px;
    position: fixed;
    right: 60px;
    top: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hamburger-menu img {
    width: 40px;
    
}

/*About*/
.about {
    height: 895px;
    background-color: var(--primary-color);
    margin-bottom: 0;
}

.about-cards {
    width: 1325px;
    display: flex;
    margin: 0 auto;
}

.about-cards img{
    position: absolute;
    margin-top: -62px;
}

.about-desc {
    background-color: var(--accent-1);
    color: var(--primary-color);
    width: 635px;
    height: 465px;
    position: absolute;
    margin-top: 265px;
    margin-left: 690px;    
}

.about-desc h2 {
    margin-top: 62px;
    margin-left: 95px;
    color: var(--primary-color);
}
.about-desc p {
    margin-left: 95px;
    width: 422px;
    color: var(--primary-color);
}

/*Types section*/

/* h1 {
    font-size: 118px;
    text-align: right;
    margin-right: 80px;
    margin-top: -143px;
    margin-bottom: 0;
} */

.types-skateboarding {
    position: absolute;
    top: -142px;
    right: 35px;
    font-size: 118px;
}

.type-freestyle {
    margin-top: 0;
    background-image: url(images/vert-skatingx.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-freestyle h2 {
    font-size: 102px;
    margin-left: 80px;
}

.type-street {
    margin-top: 0;
    background-image: url(images/street-sk8ting.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.type-street h2 {
    font-size: 102px;
    margin-left: 80px;
}

.type-vert {
    margin-top: 0;
    background-image: url(images/vert-skatingx.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-vert h2 {
    font-size: 102px;
    margin-left: 80px;
}

.type-park {
    margin-top: 0;
    background-image: url(images/park-skatingxx.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-park h2 {
    font-size: 102px;
    margin-left: 80px;
}

.type-cruise {
    margin-top: 0;
    background-image: url(images/cruise-skatingx.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-cruise h2 {
    font-size: 102px;
    margin-left: 80px;
}


.type-downhill {
    margin-top: 0;
    background-image: url(images/downhillx.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.type-downhill h2 {
    font-size: 102px;
    margin-left: 80px;
}

.types-title1 {
    position: absolute;
    bottom: -57px;
    left: 187;
    color: var(--primary-color);
    z-index: 1;
}

/*description types*/
.types-desc {
    background-color: var(--secondary-color);
    height: 395px;
    position: relative;
}

.types-desc p {
    color: var(--primary-color);
    width: 640px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 102px;
}

.types-title2 {
    position: absolute;
    bottom: -57px;
    right: 187px;
    color: var(--secondary-color);
    z-index: 1;
}
.types-desc2 {
    background-color: var(--primary-color);
    height: 395px;
    position: relative;
}
.types-desc2 p {
    color: var(--secondary-color);
    width: 640px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 102px;
}